*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}
.ul-header{
    list-style: none;
    display: none;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container{
    justify-content: space-between;
    width: 95%;
    display: flex;
    flex-direction: row;
    padding: 1em 0.5em 1em 1em;
}
nav{
    display: none;
    flex-direction: row;
}
.arrow-pc{
    display: none;
}
.sign{
    display: none;
}

a{
    text-decoration: none;
}
.top{
    background: url(./images/bg-pattern-intro-mobile.svg) #ff836d no-repeat;
    background-size:  100REM;
    background-position: center;
    width: 100%;
    /* height: 24rem; */
    padding-bottom: 5em;
    margin-bottom: 2em;
    border-bottom-left-radius: 30%;
}

.logo img{
    width: 4rem;
    
}
#open{
    width: 2rem;;
}
#close{
    display: none;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1em;
    width: 95%;
    
    /* padding: 1em 0.5em 1em 1em; */
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    width: 100%;
}
.hero-text h1{
        font-size: 2rem;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.hero-text p{
    font-size: 1rem;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn{
    background: #fff;
    color: #ff836d;
    padding: 1em 1em;
    border-radius: 20px;
    margin-top: 2em;
    border: none;
    cursor: pointer;
    width: 8rem;
    font-weight: 700;
    margin-right: 1em;
    
}
.btn:last-child{
    background: transparent;
    color: white;
    border: #fff 2px solid;
    margin-right: 0em;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    flex-direction: column;
    width: 100%;
}
/* Designed Start  */

.Designed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: 14em;
    width: 100%;
}
.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.Designed h2{
    margin-top: 2em;
    font-size: 1.9rem;
    margin-bottom: 1em;
    text-align: center;
    color: black;
width: 95%;}

.Designed .card-img .card-mobile{
    width: 100%;
    /* height: 100%; */
    border-radius: 20px;
    
}

.Designed .card-img{
    width:120%;
    /* height: 100%; */
    border-radius: 20px;
    margin-bottom: 1em;
    margin-top: 2em;
    order: 1;
}
.Designed .card-text{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
    order: 2;
}
.Designed .card-text h3{
    font-size: 2rem;
    margin-bottom: 1em;
}
.Designed .card-text p{
    font-size: 1rem;
    margin-bottom: 1em;
    line-height: 1.6;
    color: gray;
}

.card-img .card-mobile{
    display: flex;
}

.card-img .card-pc{
    display: none;
}

/* Designed End  */

/* Infrastructure Start  */

.Infrastructure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1em; */
    padding-bottom: 12em;
    margin-bottom: 2em;
    background:url(./images/bg-pattern-circles.svg) #383955 no-repeat;
    background-size: 130% 80%;
    background-position: top left;
    border-top-right-radius: 5rem;
    border-bottom-left-radius:5rem;
    height: 30rem;
}
.Infrastructure .card-img img{
    width: 100%;
    border-radius: 20px;
    margin-top: -2em;

}
.Infrastructure .card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
}

.Infrastructure .card-text h3{
    font-size: 1.5rem;
    margin-bottom: 1em;
    color: #fff;
}
.Infrastructure .card-text p{
    color: #aeb0c2;
    line-height: 1.6;

}

/* Infrastructure End  */

/* Tooling Start  */

.tooling{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    
}
.tooling .card-img{
    width: 120%;
    margin-bottom: 2em;
    margin-top: 2em;
    order: 0;
}
.tooling .card-img img{
    width: 100%;
    border-radius: 20px;
}

.tooling .card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
    width: 95%;
    
}
.tooling .card-text h3{
    font-size: 1.8rem;
    margin-bottom: 1em;
    color: #33444f;
}

.tooling .card-text p{
    color: #76797b;
    line-height: 1.6;
    margin-bottom: 1em;
}






/* Tooling End  */







/* Footer Star */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background:#24242c;
    color: #fff;
    border-top-right-radius: 5rem;
    height: 30rem;
}
.first-ul{
    color: white;
}
.ul-foot{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: 2em;
}
.logo-foot{
    margin-top: 2em;
    margin-bottom: 1em;
}
.product,.company,.connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:1em;
    
}
li{
    text-decoration: none;
    list-style: none;
    font-weight: 300;
}
li a{
    
    color: #b3b5ba;
    text-decoration: none;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
}
.container-foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer End */

/* Off Canvas Start*/

nav{
    display: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: white;
    width: 90%;
    z-index: 1;
    height: 89%;
    top: 60px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31);
    overflow-y: auto;
}
.product,.company,.connect{
    width: 90%;
    padding: .5em;
    
    
}
.enwrap img{
    cursor: pointer;
}
.enwrap a{
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.enwrap{
    margin-bottom: 1rem;
}
.product{
    margin-top: .5em;
}
.ul-header{
    
    flex-direction: column;
    background-color: rgb(237, 235, 235);
    width: 100%;
    border-radius: .5rem;
    
}
.active{
    display: flex;
}

.ul-header li {
    color: black;
    font-weight: 500;
    padding-top: .4em;
    padding-bottom: 1em;

}


.ul-header li a{
    color: rgb(83, 81, 81);
    text-decoration: none;
    font-weight: 300;
}

.sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-top: #ceced0 .1px solid;
    width: 90%;
    align-items: center;
}

.sign a{
    color: rgb(97, 94, 94);
    font-weight: 600;
    text-decoration: none;
    margin-top: 1em;
    font-size: 1.2rem;
}

.sign .btn{
    background-image: linear-gradient(to right top, #fe846d, #fe846d, #fe846d, #fe846d, #fe846d, #fe806b, #ff7c69, #ff7867, #ff6f63, #ff6560, #ff5b5e, #ff4f5c);
    /* background-color: #f92649; */
    color: white;
    border-radius: 5px;
    border: none;
    padding: .5em;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1em;
    border-radius: 2rem;
}








/* Off Canvas ENd*/


/* Media Query Start */

@media (min-width:728px){
    /* Nav Start */
    .arrow-mobile{
        display: none;
    }
    .arrow-pc{
        display: block;
    }
    span:first-of-type{
        all: unset;
        margin-left: 0.25em;
    }
    #open,#close{
        display: none;
    }
    nav{
        all: unset;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        width: 100%;
    }
    .enwrap a{
        color: white;
    }
    .sign{
        flex-direction: row;
        border-top: none;
        width: unset;
    }
    .sign a{
        margin-top: 0em;
        margin-right: .5em;
        color: white;
    }
    
    .container:first-child{
        align-items: center;
        padding: unset;
        width: 90%;
    }
    span:first-child{
        display: flex;
        flex-direction: row;
    }
    .product, .company, .connect,.sign a{
        margin-top: 0em;
    }
    .sign .btn{
        /* all: reset; */
        background-image: unset;
        margin-top: 1em;
        background-color: white;
        color: #fe846d;
        
    }
    .logo img{
        width: 5vw;
        margin-bottom: -0.3em;
    }
    .enwrap{
        display: flex;
        align-items: center;
    }
    .enwrap .title{
        font-size: 1vw;
    }
    
    .arrow-pc{
        width: .5vw;
        height: .4vw;
        color: white;
        margin-left: .3em;
    }
    .enwrap a:hover{
        text-decoration: underline white 1px;
    }
    
    /* Nav ENd */

    /* Hero STart */
    .hero-text h1{
        display: flex;
        flex-direction: row;
        font-size: 3vw 

    }
    .hero-text p{
        font-size: 1.5vw;
        font-weight: 300;
    }
    .top{
        border-bottom-left-radius: 12%;
    }
    /* Hero End */

    /* Off canvas Start  */
    .ul-header{
        position: absolute;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: 10%;
        border-radius: .5vw;
        top: 4rem;
        text-align: start;
        padding: 1em;
    }
    .ul-header li a{
        font-size: .9vw;
    }

    .ul-header li a:hover{
        color: black;
        font-weight: 700;
        font-size: 1vw;
    }
    .ul-header li{
        padding-bottom: unset;
    }
    .first{
        margin-right: 3em;
    }
    .third{
        margin-left: 3em;
        
    }
    .two{
        width: 9%;
    }


    /* Off canvas End  */
    /* Designed Start */
    body{
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow-x: hidden;
    }
    .grid{
        margin-right: -8.5vw;
    }
    .Designed h2{
        /* background-color: red; */
        font-size: 2vw;
        margin-bottom: -2.5em;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        /* background-color: red; */
    }
    #card1 { grid-area: 1 / 1 / 2 / 2; 
            text-align: start;
            align-items: start;
        margin: unset;
    margin-bottom: -12em;}
    #card2 { grid-area: 2 / 1 / 3 / 2;
            text-align: start;
            align-items: start; 
        margin: unset;
        margin-top: -10em;}
    #card3 { grid-area: 1 / 2 / 3 / 3; }
    
    .Designed .card-text h3{
        font-size: 1.3vw;

    } 
    .Designed .card-text p{
        font-size: 1.3vw;

    }
    
    .Designed .card-img .card-pc{
        display: flex;
        width: 50vw;
        border-radius: 20px;
        margin-right: -100em;
    }
    .card-img .card-mobile{
        display: none;
    }
    /* Designed End */

    /* Infrastructure Start */

    .Infrastructure{
        flex-direction: row;
        background:url(.//images/bg-pattern-intro-right-desktop.svg) #383955 no-repeat;
        height: 15vw;
        padding: 1em;
    }

    .Infrastructure .card-img{
        margin-top: 0em;
        margin-left: 0em;
        margin-right: 0em;
        margin-bottom: 0em;
        width: 130%;
    }

    .Infrastructure .card-text{
        padding: 1em;
    }
    .Infrastructure .card-text h3{
        font-size: 1.6vw;
    }
    .Infrastructure .card-text p{
        font-size: 1.3vw;
    }
    .Infrastructure .card-img img {
        /* width: unset; */
        /* max-height: 520px;
        max-width: 530px; */
        min-height: 320px;
        min-width: 330px;

    }

    /* Infrastructure End */

    /* Tooling Start */

    .tooling{
        margin-left: -8.5em;
    }
    .Designed h2{
        /* background-color: red; */
        font-size: 2vw;
        margin-bottom: -2.5em;
    }
    .tooling{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        /* background-color: red; */
        margin-top: 4em;
    }

    #card6 { grid-area: 1 / 2 / 2 / 3; 
            margin-bottom: -5em ;
            text-align: start;
        align-items: start;}
    #card5 { grid-area: 2 / 2 / 3 / 3;
    margin-top: -10em;
    text-align: start; 
align-items: start;}
    #card4 { grid-area: 1 / 1 / 3 / 2; }
    
    .card-text p{
        line-height: 1.6;
    }
    .tooling .card-text h3{
        font-size: 1.3vw;

    }
    
    .tooling .card-img .card-pc{
        display: flex;
        width: 50vw;
        border-radius: 20px;
        margin-left: -8em;
    }

    .tooling .card-text p{
        font-size: 1.3vw;
    }
    /* Tooling End */

    /* Footer Start */

    .container-foot,.links{
        flex-direction: row;
        align-items: flex-start;
        text-align: flex-start;
    }

    .container-foot{
        justify-content: space-around;
        width: 80%;
    }

    .container-foot .links{
        width: 60%;
    }
    .ul li {
        margin-bottom: .8em;
    }

    .first-ul{
        margin-bottom: 1.5em;
    }
    footer{
        height: unset;
    }


    .links{
        font-size: 1vw;
    }






    /* Footer End */

}